.Article{
    -webkit-column-width: 400px;
    column-width: 400px;
    grid-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    @media screen and (max-width: 1280px){
        column-width: 500px;
    }
}